[Unit]
Description=Daybreak Light Theme Switcher (Day Mode)

[Service]
Type=oneshot
ExecStart=/usr/bin/env daybreak light
# Lower priority to not slow down wakeup
IOSchedulingClass=idle
