[Unit]
Description=Daybreak Dark Theme Switcher (Night Mode)

[Service]
Type=oneshot
ExecStart=/home/ra/dev/linux/toggle/venv/bin/daybreak dark
IOSchedulingClass=idle
