[Desktop Entry]
Name=Daybreak
Comment=Toggle System & Terminal Theme
Exec=daybreak toggle
Icon=preferences-desktop-display-color
Type=Application
Categories=Utility;System;
Terminal=false
Actions=Light;Dark;Select;

[Desktop Action Light]
Name=Switch to Light
Exec=daybreak light
Icon=weather-clear

[Desktop Action Dark]
Name=Switch to Dark
Exec=daybreak dark
Icon=weather-clear-night

[Desktop Action Select]
Name=Select Theme...
Exec=daybreak select
Icon=preferences-desktop-theme
Terminal=true
